<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.dalnimsoft.mapper.Dic_ENG_Mapper"> 	
 	<select id="selectWord" resultType="com.dalnimsoft.domain.DIC_ENG_VO">
 		select *
 		from test.DIC_ENG
 		where WORD = #{word}
 		LIMIT 1
 	</select>
 	
 	<select id="selectWordByWordLevel" resultType="com.dalnimsoft.domain.DIC_ENG_VO">
 	<![CDATA[
 		select *
 		from test.DIC_ENG
 		where WORDLEVEL=#{wordLevel}
 	]]>
 	</select>
 	

 	
 </mapper>
