<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
        org.springframework.web.filter.CharacterEncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DalReadText</display-name>
    <servlet-name>DalReadText</servlet-name>
    <servlet-class>com.dalnimsoft.dalread.DalReadText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalReadText</servlet-name>
    <url-pattern>/DalReadText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dalnimsoft.dalread.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>NewLogIn</display-name>
    <servlet-name>NewLogIn</servlet-name>
    <servlet-class>com.dalnimsoft.dalread.NewLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewLogIn</servlet-name>
    <url-pattern>/NewLogIn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>NewLogout</display-name>
    <servlet-name>NewLogout</servlet-name>
    <servlet-class>com.dalnimsoft.dalread.NewLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewLogout</servlet-name>
    <url-pattern>/NewLogout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SetWordLevel</display-name>
    <servlet-name>SetWordLevel</servlet-name>
    <servlet-class>com.dalnimsoft.dalread.SetWordLevel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetWordLevel</servlet-name>
    <url-pattern>/SetWordLevel</url-pattern>
  </servlet-mapping>
</web-app>